# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Envs / secrets
.env
.venv/
*.egg-info/

# Data (keep only tiny samples)
data/raw/
data/interim/
data/external/

# Project-specific ignores
# Ignore large data and outputs
data/*
!data/README.md

reports/*
!.gitkeep

.virtual_documents/